build:linux --cxxopt=-std=c++14
build:linux --host_cxxopt=-std=c++14
build:macos --cxxopt=-std=c++14
build:macos --host_cxxopt=-std=c++14
build:windows --cxxopt=/std:c++14
build:windows --host_cxxopt=/std:c++14

build --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0"
build --cxxopt=-std=c++14

build --apple_platform_type=macos
build --enable_platform_specific_config
build --define open_source_build=true

build:opt --cxxopt=-Ofast
build:opt --cxxopt=-march=native

# need by tensorflow
common --experimental_repo_remote_exec

# Run the configure_bazel.py script to generate.
try-import %workspace%/configured.bazelrc

# The user.bazelrc file is not checked in but available for local mods.
# Always keep this at the end of the file so that user flags override.
try-import %workspace%/user.bazelrc
