---
name: tn_build
channels:
  - conda-forge
dependencies:
  - python=3.8
  - nomkl
  - bazel==3.1.0
  - openmpi==4.1.6
  - openssl==1.1.1t
  - libxcrypt==4.4.28
  - sysroot_linux-64 <2.13  # for running on CentOS 6
  - gcc >=10.3.0,<11.2  # https://github.com/apache/brpc/issues/1693 fix from brpc 1.3.0
  - gxx >=10.3.0,<11.2
  - libstdcxx-devel_linux-64 >=10.3.0,<11.2,!=11.1  # 11.1 do not install libstdc++.so correctly
  - openjdk==8.0.382
  - patch
  - pip
  - pip:
      - tensorflow-cpu >=2.8,<2.9
      - opentelemetry-api
      - opentelemetry-sdk
      - protobuf<3.21
      - grpcio<1.47  # Only for CentOS 6
      - h5py<3.8  # Only for CentOS 6
      - twine
      - wheel
      - build
